<div>
  <div class="container content-box shadow-box rounded-box">
    <h1 class="title">Tech Blog</h1>
    <hr>
    <div class="content">
      <p><br>
        Tech Blog Site<br>
        <span class="span"></span>
        <br>
        <span class="span">Stay up to date on the latest tech trends at the best tech blog!</span><br><br>
      </p>
    </div> 
    {{#if logged_in}}
      
    {{else}}
    <div class="cta-section">
      <div class="cta-item">
        <a class="cta-button" href="/login">Login</a>
      </div>
      <div class="cta-item">
        <a class="cta-button" href="/signup">Signup</a>
      </div>
    </div>
    {{/if}}
  </div>
</div>