{{!-- views/forms/signupForm.handlebars --}}

{{!-- Signup Form --}}
<form id="signup-form" action="/signup" method="POST">
  <h2>Sign Up</h2>
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
  </div>
  <button type="submit">Sign Up</button>
</form>
<script src="/js/signup.js"></script>